In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/neiss2023.tsv", sep="\t")
df

/var/folders/_2/3w853ywn7zn1bb0pkqpzky2h0000gn/T/ipykernel_981/1959426192.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/ahmedabukar/Downloads/neiss2023.tsv", sep="\t")

,CPSC_Case_Number,Treatment_Date,Age,Gender,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol,Drug,Narrative_1,Stratum,PSU,Weight
0,230106094,01/01/2023,34,2.0,1.0,NaN,2.0,82.0,59.0,NaN,...,0.0,478.0,0.0,0.0,0.0,0.0,34YOF WAS WASHING A GLASS THAT BROKE. DX: LA...,S,45.0,76.8216
1,230106235,01/01/2023,11,2.0,1.0,NaN,2.0,82.0,53.0,NaN,...,0.0,3286.0,0.0,0.0,0.0,0.0,11YOF INVOLVED IN FOUR WHEELER TURNOVER.DX: ...,S,29.0,76.8216
2,230106237,01/01/2023,12,2.0,1.0,NaN,2.0,30.0,53.0,NaN,...,0.0,3286.0,0.0,0.0,0.0,0.0,"12YOF WITH MVA, WAS PASSENGER ON A FOUR WHEELE...",S,29.0,76.8216
3,230106559,01/01/2023,75,2.0,1.0,NaN,2.0,76.0,59.0,NaN,...,0.0,4008.0,4076.0,4074.0,0.0,0.0,"75YOF, AT *** VISITING HUSBAND, TRIPPED OVER B...",V,22.0,15.7688
4,230106561,01/01/2023,38,2.0,1.0,NaN,2.0,75.0,62.0,NaN,...,0.0,698.0,0.0,0.0,0.0,0.0,"38YOF, FELL X 4 DAYS GETTING OUT OF HOT TUB, S...",V,22.0,15.7688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338260,240303438,12/31/2023,83,1.0,0.0,NaN,0.0,75.0,53.0,NaN,...,0.0,1878.0,0.0,0.0,0.0,0.0,83 YOM HERE FOR A FALL. HE GOT UP FROM BED TO ...,S,48.0,72.0202
338261,240303439,12/31/2023,17,1.0,0.0,NaN,0.0,37.0,64.0,NaN,...,0.0,1205.0,0.0,0.0,0.0,0.0,"17 YOM HERE FOR RIGHT ANKLE PAIN, 2 DAYS PTA H...",S,48.0,72.0202
338262,240303442,12/31/2023,97,2.0,0.0,NaN,0.0,85.0,71.0,DIZZINESS,...,0.0,4076.0,0.0,0.0,0.0,0.0,"97 YOF HERE VIA EMS FOR A FALL MONTHS PTA, SHE...",S,48.0,72.0202
338263,240303444,12/31/2023,53,1.0,0.0,NaN,0.0,85.0,65.0,NaN,...,2.0,380.0,613.0,0.0,0.0,0.0,"53 YOM HERE VIA EMS FOR SMOKE INHALATION, CEIL...",S,48.0,72.0202
338264,240303447,12/31/2023,55,1.0,0.0,NaN,0.0,30.0,55.0,NaN,...,0.0,1842.0,0.0,0.0,1.0,0.0,55 YOM HERE AFTER HE WAS DRINKING ALCOHOL TONI...,S,48.0,72.0202

In [9]:
df["Treatment_Date"].value_counts()

Treatment_Date
08/26/2023    1156
06/05/2023    1120
07/01/2023    1120
06/04/2023    1113
07/03/2023    1108
              ...
12/29/2023     725
12/31/2023     695
12/08/2023     693
L                2
S                1
Name: count, Length: 367, dtype: int64

In [10]:
df = df.loc[df["Treatment_Date"].str.contains(r"\d{2}/\d{2}/\d{4}", regex=True)]

In [13]:
df.loc[:, "Treatment_Date"] = pd.to_datetime(df["Treatment_Date"], format="%m/%d/%Y")

In [17]:
df.groupby(df["Treatment_Date"].dt.month_name)["Diagnosis"].value_counts()

TypeError: setlocale() argument 2 must be str or None, not int