In [1]:
import pandas as pd
import numpy as np
import pyarrow
import requests
from io import StringIO
from datetime import date, datetime

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/market-price.csv", 
                names=["Date", "market_price"])
df

                    Date  market_price
0    2023-06-26 00:00:00      30458.97
1    2023-06-27 00:00:00      30266.70
2    2023-06-28 00:00:00      30699.11
3    2023-06-29 00:00:00      30083.59
4    2023-06-30 00:00:00      30449.16
..                   ...           ...
361  2024-06-21 00:00:00      64830.29
362  2024-06-22 00:00:00      64095.50
363  2024-06-23 00:00:00      64251.26
364  2024-06-24 00:00:00      63167.30
365  2024-06-25 00:00:00      60279.54

[366 rows x 2 columns]

In [3]:
df["Date"] = pd.to_datetime(df["Date"])

In [4]:
#closing price for most recent day
today = date.today().strftime("%Y-%m-%d")
df.loc[df["Date"] == today, "market_price"]

Series([], Name: market_price, dtype: float64)

In [5]:
# the lowest historical price and its date
df.loc[df["market_price"] == df["market_price"].min()]

         Date  market_price
78 2023-09-12       25162.7

In [6]:
# the highest historical price and its date
df.loc[df["market_price"] == df["market_price"].max()]

          Date  market_price
262 2024-03-14      73094.37

# beyond exercise

In [7]:
r = requests.get("https://finance.yahoo.com/quote/%5EGSPC/history?p=% 5EGSPC",
                headers={"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; WOW64) \
                   AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36"})
s = StringIO(r.content.decode())
df1 = pd.read_html(s, parse_dates=True)

In [8]:
df2 = df1[0].loc[:, ["Date", "Close Close price adjusted for splits.", "Volume"]]

In [9]:
df2 = df2.rename({"Close Close price adjusted for splits." : "Close"}, axis=1)

In [10]:
df2

             Date    Close      Volume
0    Jun 28, 2024  5460.48  7199220000
1    Jun 27, 2024  5482.87  3589530000
2    Jun 26, 2024  5477.90  3563920000
3    Jun 25, 2024  5469.30  3591960000
4    Jun 24, 2024  5447.87  3696750000
..            ...      ...         ...
247   Jul 6, 2023  4411.59  3682020000
248   Jul 5, 2023  4446.82  3482620000
249   Jul 3, 2023  4455.59  2034280000
250  Jun 30, 2023  4450.38  3923450000
251  Jun 29, 2023  4396.44  3696660000

[252 rows x 3 columns]

In [13]:
%%timeit
#create a two dataframe and write to csv file
df_to_csv = df1[0].loc[:, ["High", "Low"]]
df_to_csv.to_csv("S & P 500.csv", index=False)

1.59 ms Â± 55.8 Âµs per loop (mean Â± std. dev. of 7 runs, 1,000 loops each)