In [1]:
import pandas as pd
import numpy as np

In [23]:
monthly_prices = pd.read_excel("IEA_Energy_Prices_Monthly.xlsx", sheet_name="raw_data",
                              na_values="..")

In [24]:
monthly_prices

,COUNTRY,PRODUCT,FLOW,UNIT,TIME,VALUE
0,Austria,Gasoline (unit/litre),Total Price,National currency,2015-01-01,1.13
1,Austria,Gasoline (unit/litre),Total Price,National currency,2015-02-01,1.16
2,Austria,Gasoline (unit/litre),Total Price,National currency,2015-03-01,1.21
3,Austria,Gasoline (unit/litre),Total Price,National currency,2015-04-01,1.24
4,Austria,Gasoline (unit/litre),Total Price,National currency,2015-05-01,1.27
...,...,...,...,...,...,...
19795,India,Gasoline (unit/litre),Total price,US dollars,2023-04-01,1.27
19796,India,Diesel (unit/litre),Total price,National currency,2023-04-01,93.80
19797,India,Diesel (unit/litre),Total price,US dollars,2023-04-01,1.14
19798,India,Domestic heating oil (unit/litre),Total price,National currency,2023-04-01,NaN
19799,India,Domestic heating oil (unit/litre),Total price,US dollars,2023-04-01,NaN

In [25]:
monthly_prices = monthly_prices[monthly_prices["VALUE"] != ".."]

In [28]:
monthly_prices[monthly_prices['VALUE'] != ".."]

,COUNTRY,PRODUCT,FLOW,UNIT,TIME,VALUE
0,Austria,Gasoline (unit/litre),Total Price,National currency,2015-01-01,1.13
1,Austria,Gasoline (unit/litre),Total Price,National currency,2015-02-01,1.16
2,Austria,Gasoline (unit/litre),Total Price,National currency,2015-03-01,1.21
3,Austria,Gasoline (unit/litre),Total Price,National currency,2015-04-01,1.24
4,Austria,Gasoline (unit/litre),Total Price,National currency,2015-05-01,1.27
...,...,...,...,...,...,...
19795,India,Gasoline (unit/litre),Total price,US dollars,2023-04-01,1.27
19796,India,Diesel (unit/litre),Total price,National currency,2023-04-01,93.80
19797,India,Diesel (unit/litre),Total price,US dollars,2023-04-01,1.14
19798,India,Domestic heating oil (unit/litre),Total price,National currency,2023-04-01,NaN
19799,India,Domestic heating oil (unit/litre),Total price,US dollars,2023-04-01,NaN

In [27]:
#turn the VALUE column into float
monthly_prices['VALUE'] = monthly_prices['VALUE'].astype(np.float64)

In [29]:
monthly_prices.dtypes

COUNTRY            object
PRODUCT            object
FLOW               object
UNIT               object
TIME       datetime64[ns]
VALUE             float64
dtype: object

In [32]:
monthly_prices = monthly_prices[monthly_prices["UNIT"] == "US dollars"]

In [36]:
monthly_prices.groupby("COUNTRY")["VALUE"].max().sort_values(ascending=False)

COUNTRY
Sweden             2.68
Finland            2.67
Denmark            2.62
Netherlands        2.53
Greece             2.53
Germany            2.40
United Kingdom     2.37
Portugal           2.26
Estonia            2.26
Ireland            2.24
France             2.24
Italy              2.24
Belgium            2.23
Spain              2.23
Latvia             2.20
Lithuania          2.17
Austria            2.17
Romania            2.15
Czech Republic     2.08
Luxembourg         2.07
Cyprus             2.01
Slovak Republic    2.00
Croatia            1.97
Bulgaria           1.96
Hungary            1.91
Slovenia           1.87
Poland             1.80
Canada             1.75
Malta              1.65
United States      1.58
Brazil             1.52
India              1.51
Japan              1.49
Name: VALUE, dtype: float64

In [39]:
Highest = monthly_prices['VALUE'] == monthly_prices['VALUE'].max()
monthly_prices.loc[Highest, ['COUNTRY', 'TIME']]

      COUNTRY       TIME
17199  Sweden 2022-03-01

In [40]:
monthly_prices.groupby("PRODUCT")["VALUE"].mean()

PRODUCT
Diesel (unit/litre)                  1.388030
Domestic heating oil (unit/litre)    0.992507
Gasoline (unit/litre)                1.468518
Name: VALUE, dtype: float64

In [41]:
monthly_prices.duplicated().sum()

0