In [1]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc_taxi_2019-01.csv",
                usecols=["passenger_count", "trip_distance", "total_amount"])
df

         passenger_count  trip_distance  total_amount
0                      1           1.50          9.95
1                      1           2.60         16.30
2                      3           0.00          5.80
3                      5           0.00          7.55
4                      5           0.00         55.55
...                  ...            ...           ...
7667787                1           4.79         23.16
7667788                1           0.00          0.00
7667789                1           0.00          0.00
7667790                1           0.00          0.00
7667791                1           0.00          0.00

[7667792 rows x 3 columns]

In [22]:
#for each number of passengers, find the mean cost of a taxi ride.
#sort this result from the lowest to highest 
df.groupby("passenger_count")["total_amount"].mean().sort_values()

passenger_count
6    15.437892
5    15.546940
3    15.604015
1    15.609601
4    15.650307
2    15.831294
0    18.663658
9    31.094444
7    48.278421
8    64.105517
Name: total_amount, dtype: float64

In [23]:
#create a new column trip_distance_group in which values are short < 2,
#medium >=2 and <=10 and long > 10
df["trip_distance_group"] = pd.cut(df["trip_distance"], bins=[df["trip_distance"].min(), 2, 10, df["trip_distance"].max()],
                                 labels=["Short", "Medium", "Long"], include_lowest=True)
df["trip_distance_group"]

0           Short
1          Medium
2           Short
3           Short
4           Short
            ...
7667787    Medium
7667788     Short
7667789     Short
7667790     Short
7667791     Short
Name: trip_distance_group, Length: 7667792, dtype: category
Categories (3, object): ['Short' < 'Medium' < 'Long']

In [24]:
#what is the average number of passenger per trip length category?
#sort this result from the highest to lowest
df.groupby("trip_distance_group", observed=True)["passenger_count"].agg("mean")

trip_distance_group
Short     1.555906
Medium    1.585319
Long      1.590035
Name: passenger_count, dtype: float64

In [25]:
#create a single data frame containing rides from both january 2019 and january 2020
#with column year indicating which year the rides are coming 
df_2019 = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc_taxi_2019-01.csv",
                     usecols=["passenger_count", "trip_distance", "total_amount"])
df_2019["year"] = 2019

In [26]:
df_2020 = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc_taxi_2020-01.csv",
                     usecols=["passenger_count", "trip_distance", "total_amount"])
df_2020["year"] = 2020

In [30]:
#compare the average cost of a taxi in january from each of these two years
df1 = pd.concat([df_2019, df_2020])
df1.groupby("year")["total_amount"].mean()

year
2019    15.682222
2020    18.663149
Name: total_amount, dtype: float64

In [33]:
#create a two-level grouping, first by year and by passenger_count
df1.groupby(["year", "passenger_count"])

In [34]:
#use corr and sort_values to find which columns have the highest correlation
df1.corr().

                 passenger_count  trip_distance  total_amount      year
passenger_count         1.000000       0.008974     -0.000136 -0.021602
trip_distance           0.008974       1.000000      0.004331  0.001140
total_amount           -0.000136       0.004331      1.000000  0.007657
year                   -0.021602       0.001140      0.007657  1.000000