In [1]:
import pandas as pd 
import numpy as np 
import pyarrow

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc-parking-violations-2020.csv", 
                 usecols=["Date First Observed", "Plate ID", "Registration State", "Issue Date", 
                         "Vehicle Make", "Street Name", "Vehicle Color"], parse_dates=True)
df

,Plate ID,Registration State,Issue Date,Vehicle Make,Street Name,Date First Observed,Vehicle Color
0,J58JKX,NJ,05/08/1972 12:00:00 AM,HONDA,43 ST,0,BK
1,KRE6058,PA,08/29/1977 12:00:00 AM,ME/BE,UNION ST,0,BLK
2,444326R,NJ,10/03/1988 12:00:00 AM,LEXUS,CLERMONT AVENUE,0,BLACK
3,F728330,OH,01/03/1990 12:00:00 AM,CHEVR,DIVISION AVE,0,NaN
4,FMY9090,NY,02/14/1990 12:00:00 AM,JEEP,GRAND ST,0,GREY
...,...,...,...,...,...,...,...
12495729,62161MM,NY,01/03/2040 12:00:00 AM,FORD,3RD AVE,0,BR
12495730,GYE7330,NY,04/19/2045 12:00:00 AM,HONDA,PELHAM PARK DR,0,BLK
12495731,HNY4802,NY,01/17/2049 12:00:00 AM,FORD,LYDIG AVE,0,GY
12495732,T687081C,NY,12/19/2063 12:00:00 AM,TOYOT,E 68 STREET,0,BLK
12495733,3497ZN,WA,06/04/2064 12:00:00 AM,UTILI,W/S/O 182 STREET,0,WHITE

In [3]:
df = df.set_index("Issue Date")

In [4]:
#what 3 makes were most frequently ticketed on january 02 2020?
df.loc["01/02/2020 12:00:00 AM", "Vehicle Make"].value_counts().head(3)

Vehicle Make
TOYOT    3829
HONDA    3593
FORD     3164
Name: count, dtype: int64

In [5]:
#the five streets on which cars got the most tickets on june 1, 2020?
df.loc["06/01/2020 12:00:00 AM", "Street Name"].value_counts().head()

Street Name
WB CONDUIT BLVD @ LI    1068
SB WEST ST @ LEROY S     335
EB HORACE HARDING EX     273
EB QUEENS BLVD @ 82N     245
WB ATLANTIC AVE @ CL     229
Name: count, dtype: int64

In [6]:
#set the index to vehicle color?
df = (df
      .reset_index()
      .set_index("Vehicle Color"))

In [7]:
#the most common make of vehicles that were either red or blue?
df.loc[["RED", "BLUE"], "Vehicle Make"]. value_counts().head(10)

Vehicle Make
HONDA    39353
FORD     30990
TOYOT    30925
NISSA    24950
FRUEH    18506
CHEVR    16975
DODGE    14542
HYUND    13244
BMW      11176
NS/OT    11159
Name: count, dtype: int64

In [8]:
df

,Issue Date,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed
Vehicle Color,,,,,,
BK,05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0
BLK,08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0
BLACK,10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0
NaN,01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0
GREY,02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0
...,...,...,...,...,...,...
BR,01/03/2040 12:00:00 AM,62161MM,NY,FORD,3RD AVE,0
BLK,04/19/2045 12:00:00 AM,GYE7330,NY,HONDA,PELHAM PARK DR,0
GY,01/17/2049 12:00:00 AM,HNY4802,NY,FORD,LYDIG AVE,0
BLK,12/19/2063 12:00:00 AM,T687081C,NY,TOYOT,E 68 STREET,0
WHITE,06/04/2064 12:00:00 AM,3497ZN,WA,UTILI,W/S/O 182 STREET,0

In [14]:
#what 3 car makes were most often ticketed from january 2 through january 10? 
df = df.reset_index().set_index("Issue Date")
df.loc["01/02/2020 12:00:00 AM" : "01/10/2020 12:00:00 AM", "Vehicle Make"].value_counts()

KeyError: "Cannot get left slice bound for non-unique label: '01/01/2020 12:00:00 AM'"

In [20]:
df = df.sort_index()

In [22]:
#what 3 car makes were most often ticketed from january 2 through january 10?
df.loc["01/02/2020 12:00:00 AM" : "01/10/2020 12:00:00 AM", "Vehicle Make"].value_counts().head(3)

Vehicle Make
FORD     38958
TOYOT    37096
HONDA    35962
Name: count, dtype: int64

## Beyond 2

how many tickets did the second-most-ticketed car get in 2020? (and why iam not interested in the
most ticketed plate) what state was that car from, and was it always ticketed in the same location.

In [33]:
# most ticketed?
# second most ticketed 
df["Plate ID"].value_counts().head(2)

Plate ID
BLANKPLATE    8882
2704819       1535
Name: count, dtype: int64

In [36]:
#what state was it from?
df.set_index("Plate ID").loc["2704819", "Registration State"].head(1)

Plate ID
2704819    IN
Name: Registration State, dtype: object

In [38]:
#was it always ticketed in the same location? No, but there alot in the same area ...
df.set_index("Plate ID").loc["2704819", "Street Name"].value_counts()

Street Name
8th Ave              395
Penn Plz             230
7th Ave               92
9th Ave               63
Broadway              57
                    ...
6TH AVE                1
W 54TH ST              1
E 39th St              1
N/S NW C/O W 30TH      1
E 49th St              1
Name: count, Length: 113, dtype: int64