In [6]:
import pandas as pd
import numpy as np
import dataflows

In [12]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/wti-daily.csv",
                parse_dates=["Date"],
                index_col="Date")
df.sample(frac=0.1)

            Price
Date
1987-10-12  19.67
2003-07-17  31.44
2000-01-14  28.01
2012-06-04  83.95
2001-03-26  27.40
...           ...
2021-02-11  58.22
2009-04-29  50.19
1997-01-10  26.15
2002-03-01  22.37
2021-10-22  84.53

[950 rows x 1 columns]

In [17]:
# what was the average price of oil in June 1992?
df.loc["1992-06"].mean()

Price    22.384545
dtype: float64

In [16]:
# what was the average of a barrel in all of 1987?
df.loc["1987"].mean()

Price    19.200512
dtype: float64

In [15]:
# what was the average of oil from september 2003 through July 2014?
df.loc["2003-9" : "2014-07"].mean()

Price    76.457834
dtype: float64

In [47]:
# show the price of oil at the end of each quarter in the data set?
df[df.index.is_quarter_end]

             Price
Date
1986-03-31   10.25
1986-06-30   12.80
1986-09-30   14.70
1986-12-31   17.93
1987-03-31   18.82
...            ...
2022-03-31  100.53
2022-06-30  107.76
2022-09-30   79.91
2023-03-31   75.68
2023-06-30   70.66

[105 rows x 1 columns]

In [26]:
# for each year in the data set, show the average price?
df.resample("YE")["Price"].mean()

Date
1986-12-31    15.047689
1987-12-31    19.200512
1988-12-31    15.965409
1989-12-31    19.635486
1990-12-31    24.526576
1991-12-31    21.541367
1992-12-31    20.575564
1993-12-31    18.432200
1994-12-31    17.196429
1995-12-31    18.428805
1996-12-31    22.119173
1997-12-31    20.608254
1998-12-31    14.422072
1999-12-31    19.344980
2000-12-31    30.378520
2001-12-31    25.983120
2002-12-31    26.184960
2003-12-31    31.075240
2004-12-31    41.506024
2005-12-31    56.637251
2006-12-31    66.054659
2007-12-31    72.340595
2008-12-31    99.671502
2009-12-31    61.950437
2010-12-31    79.475714
2011-12-31    94.880873
2012-12-31    94.053333
2013-12-31    97.982540
2014-12-31    93.172222
2015-12-31    48.656706
2016-12-31    43.293651
2017-12-31    50.800320
2018-12-31    65.227470
2019-12-31    56.988320
2020-12-31    39.160437
2021-12-31    68.135100
2022-12-31    94.902869
2023-12-31    76.582753
Freq: YE-DEC, Name: Price, dtype: float64

In [48]:
# On which dates were the oil prices highest? which were they lowest?
df["Price"].agg(["idxmax", "idxmin"])

idxmax   2008-07-03
idxmin   2020-04-20
Name: Price, dtype: datetime64[ns]

In [49]:
# find for each quarter, the mean and standard deviations in price?
df.resample("QE")["Price"].agg(["mean", "std"])

                 mean       std
Date
1986-03-31  17.217213  4.856866
1986-06-30  13.866094  1.346364
1986-09-30  13.813906  1.809548
1986-12-31  15.406452  0.824353
1987-03-31  18.250328  0.661624
...               ...       ...
2022-09-30  93.064063  7.675559
2022-12-31  82.787460  5.940568
2023-03-31  75.930161  3.759721
2023-06-30  73.538871  4.460238
2023-09-30  80.826852  5.056451

[151 rows x 2 columns]

In [54]:
# in which quarter did you see the biggest increase in mean price from the previous quarter?
df.resample("QE")["Price"].mean().diff().idxmax()

Timestamp('2008-06-30 00:00:00')

In [58]:
# what was the biggest percentage increase in oil prices across quarters?
df.resample("QE")["Price"].mean().pct_change().max()

0.47545580101006646