In [42]:
import pandas as pd
import numpy as np

what does mean to clean data
- Rename columns
- Rename index
- Remove irrevalant columns
- Split one column into two
- Combine two or more columns
- Remove nondata rows
- Remove repeated rows
- Remove rows with missing data aka nan
- Replace NAN data with a single value
- Replace NAN data via interpolation
- Stardandize strings
- Fix typos in strings
- Remove whitespaces in strings
- Correct the types used in columns
- Indentify and remove outliers

In [43]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc-parking-violations-2020.csv",
                usecols=["Plate ID", "Registration State", "Vehicle Make", "Vehicle Color", 
                         "Violation Time", "Street Name"])
df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE

In [44]:
# how many rows are in the data frame when its read into memory?
df.shape[0]

12495734

In [45]:
# remove rows with missing data(aka NAN)
NaN_free_df = df.dropna()

In [46]:
# how many rows remain after doing this prunning?
NaN_free_df.shape[0]

12048375

In [47]:
#how much money will the city lose due to missing data? each ticket is $100
f"{(df.shape[0] - NaN_free_df.shape[0]) * 100:,}"

'44,735,900'

In [48]:
# drop NAN values in this columns plate id, state, car maker, and street?
drop_with_condition = df.dropna(subset=["Plate ID", "Registration State", "Vehicle Make", "Street Name"])

In [49]:
#how much money will the city lose due to missing data? each ticket is $100
f"{(len(df) - len(drop_with_condition)) * 100:,}"

'6,378,500'

In [50]:
# drop NAN values in this columns plate id, state, and street?
drop_with_condition1 = df.dropna(subset=["Plate ID", "Registration State", "Street Name"])

In [51]:
# how much money will city lose as result of this prunning?
f"{(len(df) - len(drop_with_condition1)) * 100:,}"

'161,800'

## beyond exercise

So far, you have specified which columns must be all non-null. But sometimes itâ€™s OK for some columns to have null values, as long as itâ€™s not too many. How many rows would you eliminate if you required at least three non-null values from the four columns Plate ID, Registration State, Vehicle Make, and Street Name?

In [52]:
# how many rows will you eliminate if you required at least three non-null values 
#from the four columns
all_3_good_df = df.dropna(subset=["Plate ID", "Registration State", "Vehicle Make", "Street Name"], thresh=3)
len(df.index) - len(all_3_good_df.index)

253

In [53]:
# which of the columns you have imported have the greatest number of NAN values? --..Vehicle make
df.isnull().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [54]:
# many cars with BLANKPLATE were ticketed, turn this into NAN values and repeate the previous query
#df["Plate ID"] = df.loc[df["Plate ID"] != "BLANKPLATE", "Plate ID"]

In [55]:
df.isnull().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64