In [80]:
import pandas as pd
import numpy as np

when our data contains NAN values we have a few options:
- Remove them
- Leave them
- Replace them with something else

In [81]:
df = pd.read_excel("/Users/ahmedabukar/Downloads/pandas-workout-data/data/titanic3.xls")
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [82]:
#determine which columns contain missing values?
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [83]:
df["age"].value_counts().head(10)

age
24.0    47
22.0    43
21.0    41
30.0    40
18.0    39
25.0    34
28.0    32
36.0    31
26.0    30
29.0    30
Name: count, dtype: int64

In [84]:
df["age"] = df["age"].fillna(df["age"].mean())

In [85]:
# the remove the missing value in the fare column and embarked

df = df.dropna(subset=["fare", "embarked"])

In [86]:
#fill with nearest value
df.loc[:, "cabin"] = df["cabin"].ffill()

In [87]:
# create a series in which the index contains the unique values of from the embarked column
# the values are the most common
most_common_destination = pd.Series(data=df["embarked"].value_counts())
most_common_destination

embarked
S    913
C    270
Q    123
Name: count, dtype: int64

In [102]:
#replace NAN values home.dest column with values from embarked 
df.loc[:, "home.dest"] = df["home.dest"].replace(most_common_destination)

In [100]:
#use the most_common_destination series to replace the values in home.dest with the most 
# common values for each embarkation point
df["home.dest"] = values

ValueError: Length of values (3918) does not match length of index (1306)

In [91]:
df["home.dest"]

0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1304                                  C
1305                                  C
1306                                  C
1307                                  C
1308                                  S
Name: home.dest, Length: 1306, dtype: object

In [98]:
values = list(most_common_destination) * len(df.index)