In [6]:
import pandas as pd
import numpy as np
import polars as pl
from datetime import datetime

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/:/data/nyc_taxi_2019-07.csv",
                usecols=["tpep_pickup_datetime",
                        "passenger_count",
                        "total_amount",
                        "trip_distance"],
                parse_dates=["tpep_pickup_datetime"])
df.head()

  tpep_pickup_datetime  passenger_count  trip_distance  total_amount
0  2019-07-01 00:51:04              1.0           0.00          4.94
1  2019-07-01 00:46:04              1.0           4.16         20.30
2  2019-07-01 00:25:09              1.0          18.80         70.67
3  2019-07-01 00:33:32              1.0          18.46         66.36
4  2019-07-01 00:00:55              0.0           1.70         15.30

In [3]:
date_format = "%d/%m/%Y %Hh:%Mm:%Ss"

df.to_csv("formated_taxi_datetime.csv", sep="\t",
         date_format=date_format)

In [4]:
df_2 = pd.read_csv("formated_taxi_datetime.csv",
                  sep="\t",
                  parse_dates=["tpep_pickup_datetime"],
                  date_format=date_format)
df_2.head()

,Unnamed: 0,tpep_pickup_datetime,passenger_count,trip_distance,total_amount
0,0,2019-07-01 00:51:04,1.0,0.00,4.94
1,1,2019-07-01 00:46:04,1.0,4.16,20.30
2,2,2019-07-01 00:25:09,1.0,18.80,70.67
3,3,2019-07-01 00:33:32,1.0,18.46,66.36
4,4,2019-07-01 00:00:55,0.0,1.70,15.30

In [5]:
df_2.dtypes

Unnamed: 0                       int64
tpep_pickup_datetime    datetime64[ns]
passenger_count                float64
trip_distance                  float64
total_amount                   float64
dtype: object

In [18]:
# export tpep_pickup_datetime date in Unix time -i.e the number of seconds since 1 january 
# this is an integer value
s = (df["tpep_pickup_datetime"] - datetime(1970, 1, 1)).dt.seconds

In [19]:
s.to_csv("unix_timedelta.csv")

In [21]:
load_s = pd.read_csv("unix_timedelta.csv", 
                    usecols=["tpep_pickup_datetime"])
load_s

         tpep_pickup_datetime
0                        3064
1                        2764
2                        1509
3                        2012
4                          55
...                       ...
6310414                 59693
6310415                 58077
6310416                 57691
6310417                 61080
6310418                 58560

[6310419 rows x 1 columns]

In [22]:
pd.to_datetime(load_s["tpep_pickup_datetime"])

0         1970-01-01 00:00:00.000003064
1         1970-01-01 00:00:00.000002764
2         1970-01-01 00:00:00.000001509
3         1970-01-01 00:00:00.000002012
4         1970-01-01 00:00:00.000000055
                       ...
6310414   1970-01-01 00:00:00.000059693
6310415   1970-01-01 00:00:00.000058077
6310416   1970-01-01 00:00:00.000057691
6310417   1970-01-01 00:00:00.000061080
6310418   1970-01-01 00:00:00.000058560
Name: tpep_pickup_datetime, Length: 6310419, dtype: datetime64[ns]

In [23]:
%%timeit
pd.read_csv("/Users/ahmedabukar/Downloads/:/data/nyc_taxi_2019-07.csv",
           usecols=["tpep_pickup_datetime"],
           parse_dates=["tpep_pickup_datetime"])

8.8 s ± 79.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [24]:

df = pd.read_csv("/Users/ahmedabukar/Downloads/:/data/nyc_taxi_2019-07.csv",
                usecols=["tpep_pickup_datetime"])

In [25]:
%%timeit
pd.to_datetime(df["tpep_pickup_datetime"])

1.75 s ± 7.44 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)