In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/celebrity_deaths_2016.csv",
                usecols=["dateofdeath", "age"])
df

     dateofdeath age
0     2016-01-01  71
1     2016-01-01  74
2     2016-01-01  79
3     2016-01-01  45
4     2016-01-01  83
...          ...  ..
6538  2016-12-27  74
6539  2016-12-27  85
6540  2016-12-27  83
6541  2016-12-27  23
6542  2016-12-27  84

[6543 rows x 2 columns]

In [13]:
#create a new month column containing the month from the dateofdeath column
df["month"] = df["dateofdeath"].str.slice(5,7)

In [14]:
#make the month column the index
df = df.set_index(df["month"])

In [15]:
#sort the dataframe the index 
df = df.sort_index()

In [16]:
#clean all nonintegers from the age column
df["age"] = pd.to_numeric(df["age"], errors='coerce')

In [17]:
# turn the age column into integer dtype
df = df.dropna(subset="age")
df['age'] = df["age"].astype(np.int16)

In [18]:
#find the average age of celebrities who died during that period?
df["age"].mean()

77.0192871470452

In [19]:
#add a new column 'day' from the day of the month in which the celebrity died,
df["day"] = df["dateofdeath"].str.slice(8,10)

In [21]:
#Then a create a multi-index(day and month) 
df = df.set_index("day", append=True)

In [30]:
#what was the average age of death from feb 15 through july 15
df = df.sort_index()
df.loc[(slice("02", "07"), slice("15", "15")), "age"].head(50)

month  day
02     15     58
       15     59
       15     57
       15     88
       15     88
       15     90
       15     92
       15     96
       15     98
       15     85
       15     83
       15     84
       15     73
       15     50
       15     91
       15     92
       15     96
       15     59
       15     67
       15     68
       15     88
       15     78
03     15     81
       15     79
       15     94
       15     88
       15     88
       15     93
       15     37
       15     86
       15     85
       15     83
       15     86
       15     77
       15     68
       15     72
       15     97
       15     30
       15     47
       15     60
       15     67
       15     67
       15     66
       15     62
       15     61
04     15     94
       15     93
       15     81
       15     84
       15     49
Name: age, dtype: int16

In [33]:
df1 = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/celebrity_deaths_2016.csv",
                  usecols=["causeofdeath"])

df1

                    causeofdeath
0                   brain cancer
1                         cancer
2                         cancer
3      complications of a stroke
4                  heart failure
...                          ...
6538                         NaN
6539                         NaN
6540                         NaN
6541                  euthanized
6542                         NaN

[6543 rows x 1 columns]

In [36]:
#find the five most common cause of deaths?
df1.value_counts().head()

causeofdeath
cancer               248
heart attack         125
traffic collision     56
lung cancer           51
pneumonia             50
Name: count, dtype: int64

In [39]:
#replace any NAN value with "unknown" in the causeofdeath column?
df1 = df1.fillna("Unknown")

In [42]:
#again find the five most causes of death?
df1.value_counts().head(20)

causeofdeath
Unknown                                 5008
 cancer                                  248
 heart attack                            125
 traffic collision                        56
 lung cancer                              51
 pneumonia                                50
 heart failure                            49
 shot                                     42
 stroke                                   36
 pancreatic cancer                        35
 brain cancer                             33
 injuries sustained in a plane crash      23
 Alzheimer's disease                      22
 prostate cancer                          17
 cardiac arrest                           17
 leukemia                                 17
 liver cancer                             16
 Parkinson's disease                      15
 fall                                     15
 complications from a stroke              15
Name: count, dtype: int64