In [1]:
import pandas as pd 
import numpy as np 
import pyarrow as pyrr

In [2]:
df = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/sat-scores.csv", 
                usecols=["Year", "State.Code", "Total.Math", "Total.Test-takers", "Total.Verbal"])
df

     Year State.Code  Total.Math  Total.Test-takers  Total.Verbal
0    2005         AL         559               3985           567
1    2005         AK         519               3996           523
2    2005         AZ         530              18184           526
3    2005         AR         552               1600           563
4    2005         CA         522             186552           504
..    ...        ...         ...                ...           ...
572  2015         VA         517              59621           518
573  2015         WA         511              44423           502
574  2015         WV         500               2501           509
575  2015         WI         606               2277           591
576  2015         WY         587                181           588

[577 rows x 5 columns]

In [3]:
df = df.set_index(["Year", "State.Code"])

In [4]:
df

                 Total.Math  Total.Test-takers  Total.Verbal
Year State.Code
2005 AL                 559               3985           567
     AK                 519               3996           523
     AZ                 530              18184           526
     AR                 552               1600           563
     CA                 522             186552           504
...                     ...                ...           ...
2015 VA                 517              59621           518
     WA                 511              44423           502
     WV                 500               2501           509
     WI                 606               2277           591
     WY                 587                181           588

[577 rows x 3 columns]

In [5]:
#determine how many people took the exam in 2005? 
df.loc[2005, "Total.Test-takers"].sum()

1344824

In [6]:
#determine the average SAT score from new york(NY), new jersey(NJ), 
#Massachisetts(MA) and illinois(IL)
df.loc[(2010, ["NY", "NJ", "MA", "IL"]), "Total.Math"].mean()

535.25

In [7]:
#determine the average Verbal-score in 2012-2015 from Arizona(AZ), California(CA) and Texaz(TX)
df.loc[(slice(2012, 2015), ["AZ", "CA", "TX"]), "Total.Verbal"]

Year  State.Code
2012  AZ            517
      CA            496
      TX            474
2013  AZ            522
      CA            498
      TX            476
2014  AZ            522
      CA            498
      TX            476
2015  AZ            523
      CA            496
      TX            470
Name: Total.Verbal, dtype: int64

## beyond 1

what were the average math and verbal scores for florida(FL), "indiana", and Idaho across all years(Don't break out the values by state)

In [8]:
df.loc[(slice(None), ["FL", "IN", "ID"]), ["Total.Math", "Total.Verbal"]].mean()

Total.Math      507.090909
Total.Verbal    504.606061
dtype: float64

In [9]:
#which state received the highest verbal score and in which year?
df["Total.Verbal"].nlargest(1)

Year  State.Code
2013  ND            612
Name: Total.Verbal, dtype: int64

In [10]:
# was the average math score in 2005 higher or lower than that of 2015?
average_for_2005 = df.loc[2005, "Total.Math"].mean() # its higher by 2.56
average_for_2015 = df.loc[2015, "Total.Math"].mean() 
average_for_2005 - average_for_2015

2.559506531204647

2.2.2