In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json("/Users/ahmedabukar/Downloads/pandas-workout-data/data/cities.json")
df

,city,growth_from_2000_to_2013,latitude,longitude,population,rank,state
0,New York,4.8%,40.712784,-74.005941,8405837,1,New York
1,Los Angeles,4.8%,34.052234,-118.243685,3884307,2,California
2,Chicago,-6.1%,41.878114,-87.629798,2718782,3,Illinois
3,Houston,11.0%,29.760427,-95.369803,2195914,4,Texas
4,Philadelphia,2.6%,39.952584,-75.165222,1553165,5,Pennsylvania
...,...,...,...,...,...,...,...
995,Weslaco,28.8%,26.159519,-97.990837,37093,996,Texas
996,Keizer,14.4%,44.990119,-123.026208,37064,997,Oregon
997,Spanish Fork,78.1%,40.114955,-111.654923,36956,998,Utah
998,Beloit,2.9%,42.508348,-89.031776,36888,999,Wisconsin
999,Panama City,0.1%,30.158813,-85.660206,36877,1000,Florida

In [3]:
#what are the mean and median population for cities
df["population"].describe()[["mean", "50%"]]

mean    131132.443
50%      68207.000
Name: population, dtype: float64

In [4]:
# if you remove the 50 most populous city, what happens to mean and median?
df.drop(index=49, axis=0)["population"].describe()[["mean", "50%"]]

mean    130883.74975
50%      68190.00000
Name: population, dtype: float64

In [5]:
#what is the northernmost city and where does it rank?
(df.loc[
 df.loc[df["latitude"] < 90, "latitude"].idxmin(), 
 ["city", "rank"]])

city    Honolulu
rank          54
Name: 53, dtype: object

In [6]:
#which state has the most cities in this list?
df["state"].value_counts().head(1)

state
California    212
Name: count, dtype: int64

In [7]:
#which state has the smallest number of city in this list
df["state"].value_counts().tail(1)

state
Vermont    1
Name: count, dtype: int64

In [8]:
#convert the growth_from_2000_to_2013 to floating point value?
df["growth_from_2000_to_2013"] = (df["growth_from_2000_to_2013"].replace(r"%$", "0", regex=True))

In [9]:
df["growth_from_2000_to_2013"] = pd.to_numeric(df["growth_from_2000_to_2013"], errors='coerce')

In [10]:
df["growth_from_2000_to_2013"] = df["growth_from_2000_to_2013"].fillna(0)

In [11]:
df["growth_from_2000_to_2013"].describe()[["50%", "mean"]]

50%      9.650
mean    22.936
Name: growth_from_2000_to_2013, dtype: float64

In [12]:
#how many cities had positive growth in this period?
df.loc[df["growth_from_2000_to_2013"] > 0, "growth_from_2000_to_2013"].count()

847

In [13]:
#how many had negative growth rate in this period?
df.loc[df["growth_from_2000_to_2013"] < 0, "growth_from_2000_to_2013"].count()

142

In [14]:
#find the cities or city with latitudes more than two standard deviations from the mean?
condition = (df["latitude"] - df["latitude"].mean()) > 2 * df["latitude"].describe()["std"]
df.loc[condition, ["city", "latitude"]]

            city   latitude
62     Anchorage  61.218056
268      Everett  47.978985
389   Bellingham  48.749080
551   Marysville  48.051764
664  Grand Forks  47.925257
802        Minot  48.232967

In [15]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'