In [2]:
import numpy as np
import pandas as pd

In [3]:
g = np.random.default_rng(0)
measurement = pd.Series(g.normal(0, 100, 100_000))

In [4]:
measurement.describe()

count    100000.000000
mean         -0.090825
std         100.013350
min        -449.411704
25%         -67.292120
50%          -0.414699
75%          67.636542
max         473.195769
dtype: float64

In [5]:
std = measurement.describe()["std"]
mean = measurement.describe()["mean"]

In [7]:
np.sum(np.abs(measurement - mean) < std) / 100_000

0.68396

In [12]:
# Calculate the mean of numbers greater than s.mean()
above = measurement.loc[measurement > measurement.mean()].mean()

In [13]:
# Calculate the mean of numbers less than s.mean()
below = measurement.loc[measurement < measurement.mean()].mean()

In [14]:
(above + below)/2

0.12941477214820907

In [18]:
measurement.loc[measurement > (3 * std)].mean()

330.1412595672123

In [23]:
temperature = pd.Series(g.normal(20, 5, 28), index = "Sun Mon Tue Wed Thur Fri Sat".split() * 4).round().astype(np.int8)

In [24]:
temperature

Sun     16
Mon     21
Tue     11
Wed     28
Thur    19
Fri     23
Sat     19
Sun     22
Mon     23
Tue     14
Wed     20
Thur    20
Fri     19
Sat     23
Sun     23
Mon     19
Tue     17
Wed     26
Thur    23
Fri     26
Sat     21
Sun     20
Mon     21
Tue     18
Wed     16
Thur    21
Fri     11
Sat     23
dtype: int8

In [26]:
temperature.loc["Mon"]

Mon    21
Mon    23
Mon    19
Mon    21
dtype: int8

In [28]:
# What was the average weekend temperature (i.e., Saturdays and Sundays)?
temperature.loc[["Sat", "Sun"]].mean()

20.875

In [39]:
# How many times is the change in temperature from the previous day greater
# than 2 degrees?
temperature[temperature.pct_change() * 10 > 2]

Mon     21
Wed     28
Fri     23
Wed     20
Sat     23
Wed     26
Thur    21
Sat     23
dtype: int8

In [41]:
# What are the two most common temperatures in our data set, and how often
# does each appear?
temperature.value_counts().head(2)

23    6
21    4
dtype: int64