In [1]:
import pycountry
import holidays
import pandas as pd 
import numpy as np 
import pprint

In [2]:
holidays.country_holidays("KE", years=2010)

{datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 4, 5): 'Easter Monday', datetime.date(2010, 5, 1): 'Labour Day', datetime.date(2010, 6, 1): 'Madaraka Day', datetime.date(2010, 10, 20): 'Mashujaa Day', datetime.date(2010, 12, 12): 'Jamhuri Day', datetime.date(2010, 12, 13): 'Jamhuri Day (observed)', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): 'Boxing Day', datetime.date(2010, 12, 27): 'Boxing Day (observed)'}

In [3]:
pycountry.countries.remove_entry(alpha_2="BG")

In [4]:
dict1 = []
for country in pycountry.countries:
    try:
         for (holiday_date, holiday_name) in holidays.country_holidays(country.alpha_2, years=(2010, 2024)).items():
             dict1.append([country.name, country.alpha_2, holiday_date, holiday_name, ])
    except NotImplementedError: 
        pass

/opt/anaconda3/lib/python3.11/site-packages/holidays/countries/marshall_islands.py:38: Warning: Years before 2020 are not available for the Marshall Islands (MH).
  warnings.warn(

In [5]:
df = (pd.DataFrame(data=dict1, columns=["country_name", "alpha_2", "holiday_date", "holiday_name"])
      .assign(holiday_date=lambda df_: pd.to_datetime(df_["holiday_date"])))
df

     country_name alpha_2 holiday_date                           holiday_name
0           Aruba      AW   2024-01-01                               Aña Nobo
1           Aruba      AW   2024-01-25                          Dia di Betico
2           Aruba      AW   2024-02-12  Dialuna prome cu diaranson di shinish
3           Aruba      AW   2024-03-18                 Dia di Himno y Bandera
4           Aruba      AW   2024-03-29                           Bierna Santo
...           ...     ...          ...                                    ...
4062     Zimbabwe      ZW   2010-08-10                     Defense Forces Day
4063     Zimbabwe      ZW   2010-12-22                              Unity Day
4064     Zimbabwe      ZW   2010-12-25                          Christmas Day
4065     Zimbabwe      ZW   2010-12-26                             Boxing Day
4066     Zimbabwe      ZW   2010-12-27                  Boxing Day (observed)

[4067 rows x 4 columns]

In [6]:
# which countries had holidays on date June 2024
df.loc[df["holiday_date"] == "2024-06-07"]

     country_name alpha_2 holiday_date              holiday_name
449       Bahamas      BS   2024-06-07  Randol Fawkes Labour Day
1595  Isle of Man      IM   2024-06-07           TT Bank Holiday
2459        Malta      MT   2024-06-07              Sette Giugno

In [9]:
df.set_index("holiday_date").loc["2024-06", ["country_name", "holiday_name"]].value_counts().head(10)

country_name  holiday_name
Sweden        Söndag                     5
Türkiye       Kurban Bayramı             4
Maldives      Eid al-Adha (estimated)    4
Pakistan      Eid-ul-Adha (estimated)    3
Saudi Arabia  (تقدير) عطلة عيد الأضحى    3
Romania       Rusaliile                  2
Jordan        (تقدير) عطلة عيد الأضحى    2
India         Eid al-Adha (estimated)    2
Morocco       (تقدير) عيد الأضحى         2
Egypt         (تقدير) عطلة عيد الأضحى    2
Name: count, dtype: int64