In [1]:
import pandas as pd
import numpy as np

/Users/ahmedabukar/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
new_york_temps = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/nyc-temps.txt").squeeze()

In [3]:
time = "0 3 6 9 12 15 18 21".split() * 91
new_temperatur = pd.DataFrame(data={"temperatur" : new_york_temps,
                   "hour" : time})

In [4]:
#calculate the mean and median
new_temperatur.describe()

       temperatur
count  728.000000
mean    -1.050824
std      5.026357
min    -14.000000
25%     -4.000000
50%      0.000000
75%      2.000000
max     12.000000

In [5]:
new_temperatur.loc[3:, "temperatur"].head(10)

3    -1
4    -1
5    -1
6    -1
7     1
8     1
9     1
10    1
11    1
12    1
Name: temperatur, dtype: int64

In [6]:
new_temperatur["hour"] = pd.to_datetime(new_temperatur["hour"], format="%H").dt.time

In [7]:
new_temperatur.loc[new_temperatur["hour"].astype("str") == "03:00:00", "temperatur"] = np.NAN

In [8]:
new_temperatur.loc[new_temperatur["hour"].astype("str") == "06:00:00", "temperatur"] = np.NAN

In [9]:
nearest = new_temperatur

In [10]:
new_temperatur["temperatur"] = new_temperatur["temperatur"].interpolate().head(20)

In [11]:
new_temperatur.describe()

       temperatur
count   20.000000
mean     0.300000
std      0.978721
min     -1.000000
25%     -1.000000
50%      1.000000
75%      1.000000
max      1.000000

In [ ]:
nearest["temperatur"] = nearest["temperatur"].interpolate(method="nearest").head(20)

selecting editing

In [64]:
selective_edit = pd.DataFrame(data={
    "temps": new_york_temps,
    "time" : time
})

In [37]:
selective_edit.loc[selective_edit["temps"] < 0, "temps"] = 0

In [38]:
selective_edit.loc[selective_edit["temps"] == 0, "temps"].count()

423

In [39]:
#set all odd the temperatures to the mean of all temp

selective_edit.loc[selective_edit["temps"] % 2 != 0, "temps"] = int(selective_edit["temps"].mean())

In [56]:
#set the even the temps at hours 9 and 18 to 3
even_temps = selective_edit["temps"] % 2 == 0
hours_9_18 = selective_edit["time"].isin(["9", "18"])
selective_edit.loc[hours_9_18 & even_temps, "temps"] = 3

In [57]:
selective_edit["time"].isin(["9", "18"])

0      False
1      False
2      False
3       True
4      False
       ...
723     True
724    False
725    False
726     True
727    False
Name: time, Length: 728, dtype: bool

In [66]:
selective_edit["time"] = selective_edit["time"].astype(np.int32)

In [67]:
#if the hour is odd set the temp to 5
selective_edit.loc[selective_edit["time"] % 2 != 0, "temps"] = 5

In [68]:
selective_edit

     temps  time
0       -1     0
1        5     3
2       -1     6
3        5     9
4       -1    12
..     ...   ...
723      5     9
724      2    12
725      5    15
726      2    18
727      5    21

[728 rows x 2 columns]