In [1]:
import pandas as pd
import numpy as np

In [15]:
url = "https://en.wikipedia.org/wiki/List_of_missions_to_the_Moon"
df = pd.read_html(url)[1]
df.columns = df.columns.str.replace(r" ", "_", regex=True)

In [19]:
df = (df.loc[df["Spacecraft"] != df["Launch_date"]]
.assign(Launch_date=lambda df_ : df["Launch_date"].str.replace(r"\[\d+\]", "", regex=True)))

In [24]:
df = df.set_index(["Mission", "Spacecraft"])

Index(['Mission.1', 'Launch_date', 'Carrier_rocket', 'Operator',
       'Mission_type', 'Outcome'],
      dtype='object')

In [27]:
df["Launch_date"] = pd.to_datetime(df["Launch_date"])

In [36]:
df.groupby("Operator")["Outcome"].value_counts()

Operator                                                   Outcome
ASI                                                        Operational            1
Astrobotic Technology                                      Spacecraft failure     1
CAS                                                        En route               2
CMU                                                        Precluded              1
CNSA                                                       Success               10
                                                           Operational            8
                                                           In Orbit               2
                                                           Spacecraft failure     1
Deep Space Exploration Laboratory (DSEL, Tiandu Lab)[106]  Operational            2
ERAU                                                       Partial failure        1
ESA                                                        En route               1
                                                           Success                1
Fluid & Reason                                             Success                1
ISRO                                                       Success                5
                                                           Operational            1
                                                           Precluded              1
                                                           Spacecraft failure     1
Intuitive Machines                                         Success                1
JAXA                                                       Success                4
                                                           Operational            2
                                                           Spacecraft failure     1
KARI                                                       Operational            1
Lockheed Martin                                            Success                1
LuxSpace                                                   Success                1
NASA                                                       Success               10
                                                           Spacecraft failure     5
                                                           Operational            4
Roscosmos                                                  Spacecraft failure     1
SUPARCO[a][113]                                            Operational            1
SpaceIL                                                    Spacecraft failure     1
Tomy / JAXA / Doshisha University                          Success                1
Tomy/JAXA/Dodai                                            Precluded              1
UAESA/MBRSC                                                Precluded              1
UNAM                                                       Precluded              1
ispace                                                     Spacecraft failure     1
Name: count, dtype: int64

In [32]:
df

                            Mission.1 Launch_date     Carrier_rocket  \
Mission Spacecraft
107     WMAP                     WMAP  2001-06-30   Delta II 7425-10
108     SMART-1               SMART-1  2003-09-27          Ariane 5G
109     STEREO A               STEREO  2006-10-25  Delta II 7925-10L
        STEREO B               STEREO  2006-10-25  Delta II 7925-10L
110     ARTEMIS P1            ARTEMIS  2007-02-17      Delta II 7925
...                               ...         ...                ...
142     Chang'e 6 Lander    Chang'e 6  2024-05-03       Long March 5
        Chang'e 6 Ascender  Chang'e 6  2024-05-03       Long March 5
        Chang'e 6 Returner  Chang'e 6  2024-05-03       Long March 5
        Mini-rover[110]     Chang'e 6  2024-05-03       Long March 5
        âš€ ICUBE-Q[111]      Chang'e 6  2024-05-03       Long March 5

                                   Operator    Mission_type      Outcome
Mission Spacecraft
107     WMAP                           NASA           Flyby      Success
108     SMART-1                         ESA         Orbiter      Success
109     STEREO A                       NASA           Flyby      Success
        STEREO B                       NASA           Flyby      Success
110     ARTEMIS P1                     NASA         Orbiter  Operational
...                                     ...             ...          ...
142     Chang'e 6 Lander               CNSA          Lander      Success
        Chang'e 6 Ascender             CNSA  Launch Vehicle     In Orbit
        Chang'e 6 Returner             CNSA   Sample Return     In Orbit
        Mini-rover[110]                CNSA           Rover      Success
        âš€ ICUBE-Q[111]      SUPARCO[a][113]         Orbiter  Operational

[78 rows x 6 columns]