In [1]:
import pandas as pd
import numpy as np
import pyarrow as pyrr

/Users/ahmedabukar/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [3]:
distance = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/taxi-distance.csv").squeeze()

In [7]:
passenger = pd.read_csv("/Users/ahmedabukar/Downloads/pandas-workout-data/data/taxi-passenger-count.csv").squeeze()

In [21]:
trip_data = pd.DataFrame({"passenger_count": passenger,
              "distance": distance})

In [11]:
passenger

0       1
1       1
2       1
3       1
4       1
       ..
9993    1
9994    1
9995    1
9996    6
9997    1
Name: 1, Length: 9998, dtype: int64

In [25]:
iqr = (trip_data['distance'].quantile(0.75)
       - trip_data['distance'].quantile(0.25))

trip_data[trip_data['distance']
    > trip_data['distance'].quantile(0.10) + 1.5*iqr]

      passenger_count  distance
6                   4     11.90
38                  2      5.28
42                  2      5.30
55                  1      4.71
59                  1      9.30
...               ...       ...
9991                1      6.37
9992                1      4.10
9994                1      4.50
9995                1      5.59
9997                1      5.80

[2051 rows x 2 columns]