In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
ukrain_grain_exports = pd.read_excel("ukraine_grain_exports.xlsx")

In [6]:
#Create a pivot table, 
#showing how many tons of each commodity (rows) have left each port (columns)
pd.pivot_table(data=ukrain_grain_exports, index="Commodity", 
columns="Departure port", values="Tonnage")

Departure port       Chornomorsk         Odesa  Yuzhny/Pivdennyi
Commodity
Barley              25431.222222  14546.483871      24250.412308
Canola              37690.333333           NaN               NaN
Corn                35392.415169  28766.989899      43276.343137
Mixed                2000.000000           NaN               NaN
Peas                 2764.000000           NaN       9150.000000
Rapeseed            30825.062500  42671.428571      37371.600000
Rapeseed meal        5550.000000   4800.000000               NaN
Soya beans           8034.800000  11614.040000      21031.428571
Soya oil             2585.000000           NaN               NaN
Sugar beet pellets  14000.000000           NaN               NaN
Sunflower meal      25545.295333  10220.600000      22352.335238
Sunflower oil       12834.500000   5877.406250      15811.230769
Sunflower pellets    6000.000000           NaN       8800.000000
Sunflower seed       7367.400000   6950.000000      17645.166667
Vegetable oil        3300.000000           NaN               NaN
Wheat               22304.074468  26362.516854      31945.031746
Wheat bran pellets   2800.000000           NaN               NaN

In [9]:
#Create a pivot table, showing how many tons of each commodity (columns) 
# were going to each destination country (rows).
pd.pivot_table(data=ukrain_grain_exports, index="Country", columns="Commodity",
values="Tonnage")

Commodity,Barley,Canola,Corn,Mixed,Peas,Rapeseed,Rapeseed meal,Soya beans,Soya oil,Sugar beet pellets,Sunflower meal,Sunflower oil,Sunflower pellets,Sunflower seed,Vegetable oil,Wheat,Wheat bran pellets
Country,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21811.500000,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22721.250000,NaN
Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54618.500000,NaN
Belgium,NaN,NaN,55120.750000,NaN,NaN,44197.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33000.000000,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12583.750000,4850.500000,8800.0,NaN,NaN,NaN,NaN
China,31511.000000,NaN,61993.241379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38006.148148,33641.666667,NaN,NaN,NaN,NaN,NaN
Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200.000000,NaN,NaN,NaN,541.000000,NaN
Egypt,NaN,NaN,26469.000000,NaN,NaN,NaN,NaN,9267.000000,NaN,NaN,1503.000000,3100.000000,NaN,NaN,NaN,25966.666667,NaN
Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25344.875000,NaN
France,NaN,29256.0,NaN,NaN,NaN,26889.250000,NaN,NaN,NaN,NaN,14550.666667,9000.000000,NaN,20985.0,NaN,NaN,NaN
Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,48565.000000,NaN,NaN,39979.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Greece,6025.333333,NaN,5149.555556,NaN,NaN,28000.000000,6200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4808.833333,NaN
India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29449.000000,NaN,NaN,NaN,NaN,NaN
Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56817.833333,NaN
Iran,NaN,NaN,63117.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33000.000000,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,30000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Israel,20150.000000,NaN,49827.600000,NaN,NaN,NaN,5550.0,6000.000000,NaN,NaN,4770.000000,NaN,NaN,NaN,NaN,22888.200000,NaN
Italy,NaN,NaN,24616.295455,NaN,NaN,NaN,3400.0,8607.692308,NaN,NaN,9750.000000,6896.076923,6000.0,5600.0,NaN,17925.476190,NaN
Japan,NaN,NaN,56000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jordan,5230.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kenya,NaN,NaN,44000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47182.666667,NaN
Lebanon,NaN,NaN,10891.400000,NaN,NaN,NaN,NaN,6850.000000,NaN,NaN,NaN,2972.910000,NaN,NaN,NaN,6600.000000,NaN
Libya,13611.571429,NaN,23858.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26900.000000,NaN
Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.000000,NaN,NaN,NaN,NaN,NaN
Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12495.000000,NaN,NaN,11000.0,NaN,NaN,NaN
Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16075.000000,NaN,NaN,NaN,54250.000000,NaN
Pakistan,NaN,61815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,7688.500000,22000.0,40360.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12317.000000,NaN
Republic of Korea,NaN,NaN,61680.000000,NaN,NaN,NaN,NaN,NaN,NaN,14000.0,NaN,NaN,NaN,NaN,NaN,65000.000000,NaN
Romania,NaN,NaN,25385.625000,NaN,NaN,6600.000000,NaN,NaN,NaN,NaN,NaN,9950.000000,NaN,NaN,NaN,9111.000000,NaN
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.000000,NaN,NaN,NaN,59087.500000,NaN
Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26750.000000,NaN
Spain,24352.157333,NaN,33372.800000,NaN,NaN,NaN,NaN,23932.500000,NaN,NaN,10781.408000,7492.222222,NaN,13375.0,NaN,30257.901961,NaN
Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51884.000000,NaN
Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65340.000000,NaN
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68250.000000,NaN
The Netherlands,NaN,NaN,48966.315789,NaN,NaN,39658.714286,NaN,32864.000000,NaN,NaN,18500.000000,5100.000000,NaN,10600.0,NaN,NaN,NaN
Tunisia,24825.000000,NaN,28743.500000,NaN,NaN,NaN,NaN,NaN,2585.0,NaN,NaN,NaN,NaN,NaN,3300.0,22215.000000,NaN
Türkiye,15345.800000,NaN,17595.072927,2000.0,5602.222222,9500.000000,NaN,8628.380952,NaN,NaN,3463.980000,6424.861333,NaN,5695.5,NaN,17190.909091,2800.0
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11900.000000,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,NaN,32988.000000,NaN,NaN,39263.666667,NaN,NaN,NaN,NaN,NaN,6171.666667,NaN,12500.0,NaN,NaN,NaN
Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58394.500000,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34269.666667,NaN

In [11]:
ukrain_grain_exports["Income group"].value_counts(normalize=True)

high-income            0.457399
upper-middle-income    0.369955
lower-middle income    0.146861
low-income             0.025785
Name: Income group, dtype: float64

In [15]:
ukrain_grain_exports["Departure"] = pd.to_datetime(ukrain_grain_exports["Departure"])

In [16]:
(ukrain_grain_exports.groupby(["Development category", 
ukrain_grain_exports["Departure"].dt.month_name()])
["Tonnage"].mean())

Development category  Departure
developed             August       28528.962963
                      December     25915.118644
                      February     37253.833333
                      January      27849.527778
                      March        40572.000000
                      November     26951.687500
                      October      23154.265060
                      September    21248.255856
developing            August       22130.755854
                      December     34356.828125
                      February     35741.056604
                      January      38256.901961
                      July         13263.500000
                      March        47345.181818
                      November     29227.962264
                      October      20201.805556
                      September    15819.283267
Name: Tonnage, dtype: float64

In [17]:
ukrain_grain_exports["Flag"].value_counts()

Liberia                           166
Panama                            147
Malta                              92
Marshall Islands                   77
Barbados                           66
Marshall Islands                   40
Palau                              38
Comoros                            31
Türkiye                            29
Belize                             26
Vanuatu                            19
Bahamas                            18
Cook Islands                       16
St. Vincent and the Grenadines     13
Togo                               12
Sierra Leone                       12
Hong Kong                          10
Tanzania                            6
Norway                              6
Singapore                           6
St. Kitts and Nevis                 6
Greece                              6
China                               4
India                               4
Cayman Islands                      4
Turkiye                             4
Equatorial Guinea                   3
Cameroon                            3
Tuvalu                              3
Niue                                3
Lebanon                             3
St Vincent                          2
St. Vincent                         2
Ukraine                             2
Honduras                            2
Portugal                            2
Thailand                            1
St. Kitts and Navis                 1
Croatia                             1
Turkey                              1
Beliza                              1
Guinea-Bissau                       1
Bulgaria                            1
Name: Flag, dtype: int64

In [25]:
replacement = {
    "Türkiye": "Turkey",
    "Turkiye": "Turkey",
    "Marshall Islands": "Marshall Islands",
    "St. Kitts and Nevis": "St. Kitts and Navis",
    "St Vincent": "St. Vincent"
}

In [26]:
ukrain_grain_exports["Flag"].replace(replacement).value_counts()

Liberia                           166
Panama                            147
Marshall Islands                  117
Malta                              92
Barbados                           66
Palau                              38
Turkey                             34
Comoros                            31
Belize                             26
Vanuatu                            19
Bahamas                            18
Cook Islands                       16
St. Vincent and the Grenadines     13
Sierra Leone                       12
Togo                               12
Hong Kong                          10
St. Kitts and Navis                 7
Greece                              6
Singapore                           6
Tanzania                            6
Norway                              6
Cayman Islands                      4
China                               4
St. Vincent                         4
India                               4
Tuvalu                              3
Niue                                3
Lebanon                             3
Cameroon                            3
Equatorial Guinea                   3
Ukraine                             2
Honduras                            2
Portugal                            2
Guinea-Bissau                       1
Beliza                              1
Croatia                             1
Thailand                            1
Bulgaria                            1
Name: Flag, dtype: int64